.Wizard {
  width: 100%;
  height: 100vh;
  display: flex;
}

.Wizard-Logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wizard-Logo :nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.Wizard-Logo :nth-child(2) {
  width: 35vw;
  object-fit: contain;
  position: absolute;
}

.Wizard-Content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Wizard-Content .Content {
  width: calc(50vw - 10vw);
}

.Wizard-Content .Content * {
  margin-top: 10px;
  text-decoration: none;
}

#selector * :not(.css-1u9des2-indicatorSeparator) {
  margin-top: 0px !important;
}

input[type="checkbox"] + label {
  margin-left: 10px;
}

.form-div {
  height: 50vh;
}

.step-title {
  font-weight: bold;
}

.Wizard-sub-text {
  color: #6c757d;
}

.sub-title {
  color: #04a2eb;
  font-weight: 500;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
}

.sub-title::before {
  content: attr(data-number);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  color: #6c757d;
  border: 1px solid #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-title-content {
  font-weight: 500;
  padding-left: 40px;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 50px;
}

@media (max-width: 985px) {
  .Wizard {
    flex-direction: column;
  }
  .Wizard-Content .Content {
    width: 70vw;
    margin-bottom: 50px;
  }
  .button {
    flex-direction: column;
    width: 70vw;
    align-items: center;
  }
}
