.content {
  display: flex;
}

.answare {
  width: 60% !important;
}

label {
  padding: 0 15px;
}

.answare-right {
  margin-top: 12px;
}

@media only screen and (max-width: 480px) {
  .content {
    flex-direction: column;
  }
  .answare {
    width: 100% !important;
  }

  label {
    padding: 0;
  }

  .answare-right {
    margin-bottom: 12px;
  }
}
